<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    android:revisionCode="1">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission
        android:name="android.permission.QUERY_ALL_PACKAGES"
        tools:ignore="QueryAllPackagesPermission" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PROJECTION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_SPECIAL_USE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.REQUEST_DELETE_PACKAGES" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="false"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.activity.DecompileActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.TextRecognitionActivity"
            android:autoRemoveFromRecents="true"
            android:exported="false"
            android:launchMode="singleInstance" />
        <activity
            android:name=".ui.activity.LayoutInspectActivity"
            android:autoRemoveFromRecents="true"
            android:exported="false"
            android:launchMode="singleInstance" />
        <activity
            android:name=".ui.activity.ScreenRecordResultActivity"
            android:autoRemoveFromRecents="true"
            android:exported="false"
            android:launchMode="singleInstance"
            android:taskAffinity=".screenrecord" />
        <activity

            android:name=".ui.activity.PickColorActivity"
            android:autoRemoveFromRecents="true"
            android:exported="false"
            android:launchMode="singleInstance"
            android:taskAffinity=".pickColor" />


        <activity
            android:name=".ui.activity.LaunchActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.activity.MainActivity"
            android:exported="true"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity
            android:name=".ui.activity.AppDetailActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".ui.activity.MediaProjectionPermissionActivity"
            android:excludeFromRecents="true"
            android:launchMode="singleInstance"
            android:taskAffinity=".mediaProjectionPermission" />
        <activity
            android:name=".ui.activity.SimpleTextEditorActivity"
            android:exported="true"
            android:label="@string/text_editor_activity">
            <intent-filter>
                <action android:name="${applicationId}.ACTION_VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.SqliteInspectorActivity"
            android:exported="true"
            android:label="@string/sqlite_inspector_activity">
            <intent-filter>
                <action android:name="${applicationId}.ACTION_VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.activity.SqliteTableDetailActivity" />
        <activity android:name=".ui.activity.LogcatActivity" />
        <activity
            android:name=".ui.activity.TerminalActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".ui.activity.MockLocationActivity" />
        <activity android:name=".ui.activity.NetCaptureActivity" />
        <activity android:name=".ui.activity.HttpTransactionActivity" />
        <activity android:name=".ui.activity.FileServerActivity" />


        <service
            android:name=".service.ToolsAccessibilityService"
            android:exported="true"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>

            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/tools_accessibility_service_config" />
        </service>
        <service
            android:name=".service.MediaProjectionService"
            android:foregroundServiceType="mediaProjection" />
        <service
            android:name=".service.FloatingWindowService"
            android:foregroundServiceType="specialUse">
            <property
                android:name="android.app.PROPERTY_SPECIAL_USE_FGS_SUBTYPE"
                android:value="OneDroid floating window and on-screen tools" />
        </service>
        <service
            android:name=".service.FileServerService"
            android:foregroundServiceType="specialUse">
            <property
                android:name="android.app.PROPERTY_SPECIAL_USE_FGS_SUBTYPE"
                android:value="OneDroid local file server" />
        </service>
        <service
            android:name=".service.CaptureVpnService"
            android:exported="false"
            android:foregroundServiceType="specialUse"
            android:permission="android.permission.BIND_VPN_SERVICE">
            <property
                android:name="android.app.PROPERTY_SPECIAL_USE_FGS_SUBTYPE"
                android:value="OneDroid VPN packet capture" />
            <intent-filter>
                <action android:name="android.net.VpnService" />
            </intent-filter>
        </service> <!-- 告知 XXPermissions 当前项目已经适配了分区存储特性 -->
        <meta-data
            android:name="ScopedStorage"
            android:value="true" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>